# Ignore OSX cruft
.DS_Store

# Ignore emacs/ProofGeneral cruft
\#*

# Ignore Makefile-generated Coq files
.depend
docs/

# Ignore general generated Coq files
*.vo
*.glob
*.v.d
*.vi
*.g
*.html
*.g.html
*.cmi
*.cmx
*.o